
.monkey-display {
  background-color: white;
  height: 10em;
  border: 3px solid yellow;
  position:relative;
  margin:5px;
}


#market {
  background-color: maroon;
  flex-grow: 0.5;
  height:100%;
}

#market-wrap {
  background-color: green;
  display: flex;
  align-items:top;
  height:30em;
}

#banana-wrap{
  background-color: lightgrey;
  flex-grow: 0.5;
  height:15em;
  text-align: center;
}

#banana{
  display: block;
  margin:auto;
  padding:0;
  height:100%;
  -webkit-animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}   
}
/* @-webkit-keyframes shake {
  0%  {-webkit-transform: translate(1em,0);}
  100%  {-webkit-transform: translate(0,10em);}
} */


