.monkey-display {
  background-color: white;
  height: 10em;
  border: 3px solid yellow;
  position: relative;
  margin: 5px;
}

#market {
  background-color: #EEE5E9;
  border:3px solid #181818;
  flex-grow: 0.5;
  height: 100%;
}

#market-wrap {
  background-color: green;
  display: flex;
  align-items: top;
  height: 30em;
}

#banana-wrap {
  flex-grow: 0.5;
  height: 15em;
  text-align: center;
}

#banana {
  display: block;
  margin: auto;
  padding: 0;
  height: 100%;
  z-index: 2;
  -webkit-animation: spin 3s infinite linear;
}

.falling-banana {
  -webkit-animation: drop 3s infinite ease-in;
  width: 40px;
  z-index: 1;
}
#market h3{
  font-size:50px;
  margin:0;
  padding:0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes drop {
  from {
    transform : translateY(0em);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  to {
    transform : translateY(30em);
    opacity: 0;
  }
}
